</div>
<footer>
<h3><%=t('footer.title')%></h3>
<a href="/nutzung"><%=t('footer.nutzung')%></a>
<a href="https://www.dasturmair.de/impressum/"><%=t('footer.impressum')%></a>

</footer>
</body>
</html>
