<footer></footer>
<h6>Das P-Seminar des JTG bedankt sich (wirklich?!?) für Ihren Besuch auf unserer Homepage</h6>
<a href="/Datenschutz">Datenschutzerklärung</a>
<a href="/Nutzung">Nutzungsbedingungen</a>
<a href="/Impressum">Impressum</a>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Paul war hier</a>

</div>
</body>
</html>