</div>
<footer>
<h3><%=t('footer.title')%></h3>
<a href="https://www.verkuendung-bayern.de/baymbl/2022-435/"><%=t('footer.datenschutz')%></a> <!-- TODO: Update this to the right url asap. -->
<a href="/Nutzung"><%=t('footer.nutzung')%></a>
<a href="https://www.turmair-gymnasium.de/index.php/impressum"><%=t('footer.impressum')%></a>

</footer>
</body>
</html>
