<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="images/header/logo32.ico"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="style/header.css"/>
    <style>
        .image {
            height: auto;
            width: auto;
            image-rendering: auto;
        }
        .high-quality {
            image-rendering: high-quality;
        }
    </style>
</head>

<section id="navigation">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="inner" style="float: left">
            <a class="logo">
                <figure>
                    <img src="images/header/logo.png" alt="<%=t('header.navigation.logo-alt')%>"/>
                    <figcaption>
                        <h1><%=t('header.navigation.logo-span')%></h1></figcaption>
                </figure>
            </a>
        </div>
    </nav>
</section>


<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="float: left">
            <!--<img class="image high-quality" src="images/nichtpaulsjtg.jpg" alt="Pauls JTG" width="50" height="10"> -->
            <img src="images/weather/gewitter.png" alt="Leicht Bewölkt" width="150" height="100">
            <a>27°C</a>
            <ul class="nav navbar-nav navbar-right">
                <a href="/about">Log in</a>
                <a href="/Log In">About</a>
                <a href="/Log In">Irgendwas</a>
            </ul>
        </div>




        <select name="webmenu" id="webmenu" size="1">
                <option value="Deutsch">Deutsch</option>
                <option value="English">English</option>
            </select>
    </div>
</div>

<div class="container">
</html>