<%- include ("_header.ejs"); %> <!-- TODO Dynamic this-->
<div class="all">
<h1>Über uns</h1>
<p>
    Wir sind das P-Seminar „Wetter und Klimastation“ des Johannes-Turmair Gymnasium Straubing.
    Wir haben Anfang des Jahres 2022 mit der Planung für unsere Wetterstation an der Schule begonnen.
    Zuerst haben wir uns allgemein über Wetterstationen zu informieren, wobei unser Partner Herr Bohmann eine große Hilfe war.
    Danach wurde der Standort ausgelotet, die Genehmigung der Stadt eingeholt, und damit begonnen Sponsoren für die Station zu finden.
    Nachdem alle Teile bestellt waren, wurde sie von uns auf dem Schulgelände aufgestellt.
    Nach der Sicherstellung des Datentransfers ist diese Website aufgesetzt worden, mit der wir nun unsere Daten teilen.
</p>

<p>
    Unser Ziel mit diesen Daten ist, die Wettermessung zu verbessern und mehr über den Klimawandel zu lernen.
</p>

<p>
    Wir bedanken uns bei den Sponsoren und allen anderen Helfern, besonders bei unserem Partner Herr Bohmann.
</p>
</div>
<img src="images/jtgvorne.jpg" class="picture">
<%- include ("_footer.ejs"); %>