<%- include ("_header.ejs"); %> <!-- TODO Dynamic this-->
<div class="all">
<h1>Über uns</h1>
<p>
    Wir sind das P-Seminar „Wetter- und Klimastation“ des Johannes-Turmair-Gymnasium Straubing.
    Wir haben Anfang des Jahres 2022 mit der Planung unsere Station an der Schule begonnen.
    Zuerst präsentierte jedes Mitglied des Seminars der Gruppe einen Wetterfaktor und wie dieser gemessen wird.
    Danach haben wir begonnen uns allgemein über Wetterstationen zu informieren, wobei unser Partner Herr Bohmann eine große Hilfe war.
    So hielt er uns einen informativen Vortrag über sein Wettermessnetz und darüber wie man sich eine Wetterstation zusammenstellt.
    Auch stand er uns über den gesamten Projektzeitraum beratend zu Hilfe.
    Nachdem festgelegt wurde, was noch getan werden musste, wurden wir in Kleingruppen aufgeteilt, die sich jeweils mit einem Problem beschäftigten.
    Als eine Gruppe den Standort ausgelotet hatte und die Genehmigung der Stadt eingeholt war, wurde damit begonnen Sponsoren für die Station zu finden.
    Währenddessen wurde die Arbeit an dieser Website begonnen, und die möglichen Konfigurationen der Station erörtert.
    Die Fortschritte jeder Gruppe wurden regelmäßig an die ganze Gruppe herangetragen.
    Als schließlich das Budget feststand, wurden die nötigen Teile bestellt.
    Nachdem alle angekommen waren, wurde die Station von uns auf dem Schulgelände aufgestellt.
    [Platzhalter EInweihung mit Presse etc]
    Nach der Sicherstellung des Datentransfers von der Station an den Server, nutzen wir nun diese Website um die Daten allen verfügbar zu machen.
</p>

<p>
    Unser Ziel mit diesen Daten ist, die Wettermessung in Straubing und Umgebung zu verbessern und mehr über den Klimawandel zu lernen.

</p>

<p>
    Wir bedanken uns bei allen Sponsoren recht herzlich.
    Auch bei der Stadt Straubing und der Schulleitung bedanken wir uns, da dieses Projekt ohne ihre Mithilfe nicht möglich gewesen wäre.
    Unser Dank gilt insbsondere allen anderen Helfern, besonders unserem Partner Herr Bohmann.
    Und schließlich gilt unser Dank natürlich auch unserem Lehrer Herr Greil, der uns die ganze Zeit sehr gut betreut hat.
</p>
</div>
<img src="images/jtgvorne.jpg" class="picture">
<%- include ("_footer.ejs"); %>