<%- include ("_header.ejs"); %>

    <img src="images/jtgvorneklein.jpg" alt="Das JTG von vorne"</img>
    <h4>Über uns</h4>
    <div class="container">
        <p>Im Rahmen des P-Seminars "Wetterstation am JTG" haben wir im
            Schuljahr 2022/23 eine Wetterstation geplant, durch Sponsoring
            finanziert und gemeinsam Ende Oktober aufgestellt. Nun kann man
            auf dieser Website die aktuellen Wetterdaten der verschiedenen
            Sensoren auslesen und einen Überblick über das Wetter von den
            vergangenen fünf Tagen sehen</p>
        <p>Hier befinden sich irgendwann mal die aktuellen Senorwerte,
            aber nur vielleicht</p>
        <img src="images/wetterbeispiel.jpg" alt="Beispiel für eine Wettervorhersage">
    </div>

<%- include ("_footer.ejs"); %>

<!-- header(Zeile oben)/footer(Impressum...; Nervig und Rechtliches...) beinhaltet was auf jeder Unterseite sichbar ist. -->
<audio autoplay="autoplay"> </audio>
<br>
<audio/> [Short-Tag; öffnet sich selbst und schließt sich selbst; alle Tags müssen geschlossen werden]
Container oben
was drinnen  -> Tab
alles wieder mit Tab um Ebene zu sehen
Flagge mit Drop-Down-Menü