<%- include ("_header.ejs"); %> <!-- TODO Dynamic this-->
<div class="all">
<h1><%=t('unfinished.title')%></h1>

</div>
<img src="images/Construction.png" class="picture">
<%- include ("_footer.ejs"); %>