<%- include ("_header.ejs"); %> <!-- TODO Dynamic this-->
<div class="all">
<h1><%=t('unfinished.title')%></h1>
    <img src="images/Construction.png" class="picture", id="Construction">
</div>



</style>
<%- include ("_footer.ejs"); %>