.all{
    margin-left: 5%;
    text-align: center;
    margin-right: 5%;
}

.picture{
    scale: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
