#image-container {
    height: calc(100vh - 70px);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#image-container img {
    min-height: 100%;
    width: auto;
}

.startpage-elements {
    margin-left: 20px;
    margin-right: 20px;
}