body {
    margin: 0;
    height: fit-content;
}

.navbar {
    background-color: #333333;
    font-size: 26px;
    font-weight: 300;
    font-family: OpenSans, sans-serif;
    color: aliceblue;
    line-height: 1;
}

.navbar-inner {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

.logocaption {
    padding-left: 8px;
    color: aliceblue;
    display: none;
}

.alwaysShow {
    display: block;
}

#logoimage {
    -webkit-filter: invert(95%); /* safari 6.0 - 9.0 */
    filter: invert(95%);
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    width: fit-content;
}

.weatherSmall {
    padding-left: 10px;
}

#weatherimage {
    filter: brightness(190%) drop-shadow(0 0 2px black); /* Default: 190%; Storm 50%*/
}

.spacer {
    margin-left: auto;
}

li{float:left; margin-right: 20px;}

/* Language Dropdown */
.select2-container--default .select2-selection--single {
    background-color: #FFFFFF00;
    border: 0;
    border-radius: 0;
}

body > div.navbar.navbar-default.navbar-static-top > div > ul > li:nth-child(1) > span {
    width: auto !important;
    display: inline;
}

#select2-language-container > span > p {
    display: none;
}

body > span > span > span.select2-search.select2-search--dropdown {
    display: none;
}

#select2-language-container {
    line-height: 26px;
    padding: 0 20px 0 0;
}

.select2-results__option {
    margin: 0;
    width: 100%;
}

.select2-results__option > span > p {
    margin: 0;
}

.select2-dropdown {
    width: auto !important;
    top: 4px;
    left: -52px !important;
}

.select2-results__option > span {
    display: flex;
    font-size: 20px;
    font-family: OpenSans, sans-serif;
}

.select2-results__option > span > img {
    padding-right: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: aliceblue transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent aliceblue transparent;
}

/* For mobile phones: */
.navbar-right {
    display: none;
}

.select2-dropdown {
    display: none;
}

.button-top-right{
    text-decoration: none;
}



/* Styling the menu button */
.menu-btn {
    margin-left: 30px;
    margin-right: 20px;
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s ease-out;
}


/* Styling the hamburger lines */
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: aliceblue;
    transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
    transform: rotate(180deg);
}

/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Styling the position of the menu icon */
.menu {
    position: fixed;
    top: 0;
    opacity: 0.9;
    right: 0;
    display: none;
}

#rightMenu {
    background-color: #333333;
}

.menu.show {
    visibility: visible;
    display: block;
}

/* Adding a transition delay
  to the 4 items in the
  navigation menu */
.nav-item:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.4s;
}



/* For tablets: */
@media only screen and (min-width: 515px) {
    figcaption.logocaption {
        display: block;
    }
}


/* For desktop: */
@media only screen and (min-width: 870px) {
    .navbar-right {
        display: inline;
        list-style-type: none;
        margin: 0 0 0 30px;
        padding: 0;
    }

    .menu-btn {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu.show {
        display: none;
    }

    .select2-dropdown {
        display: block;
    }
}
