.inputboxes{
    display:block;
}

.button{
    margin: 10px 0;
    align-content: flex-end;
}

.links-under-form{
    display:block;
}

.formtitels{
    display:block;
    display:block;
    margin: 10px 0;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-decoration: underline;
}
